* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

html, body {
    height: 100%;
    background-color: black;
    width: 250vmin;
}

.row {
    display: flex;
}

.cell {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgrey;
    /*background-color: #ababab;*/
    /*box-sizing: border-box;*/
    /*user-select: none;*/
    /*font-size: small;*/
    /*background-image: url('images/units/swordman.png');*/
    /*background-size: 60px 60px;*/
    /*background-repeat: no-repeat;*/
}

.unit {
    /*width: 600px;*/
    /*height: 600px;*/
    position: absolute;
    /* z-index: 1; */
    box-sizing: border-box;
    /*font-size: 1.5vmin;*/
    /*text-align: center;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* z-index: -5; */
    /* opacity: 0.3; */
    /* visibility: hidden; */
    /* position: relative; */
    /* z-index: 1; */
}

.available-cell {
    background-color: lightgreen;
    border: 1px solid green;
}

.path-cell {
    background-color: lightblue;
    border: 1px solid blue;
}


img.unit1 {
    width: 23vmin;
    padding: 0;
    margin: 0;
}
img.unit2 {
    width: 15vmin;
}
img.unit3 {
    width: 32vmin;
}

.attribute {
    position: absolute;
    /* width: 43.2px; */
    /* height: 36.8px; */
    /* z-index: 2; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 30%;
    height: 20%;
    /* text-align: center; */
    /* line-height: 10%; */
    /* display: flex; */
    /* display: table-cell; */
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
}

.attribute.health {}

.health {
    left: 0;
    top: 0;
    background-image: url('../HoSaT/images/attributes/health111.png');
    /* z-index: 250; */
    /* display: flex; */
    /* align-items: center; */
}
.damage {
    right: 0;
    top: 0;
    background-image: url('../HoSaT/images/attributes/damage.png');
    color: red;
}
.initiative {
    background-image: url('../HoSaT/images/attributes/initiative.png');
}
.speed {
    background-image: url('../HoSaT/images/attributes/speed.png');
}

#king1 {
    background-image: url('../HoSaT/images/units/king1.png');
}
#king2 {
    background-image: url('../HoSaT/images/units/king2.png');
}
#king3 {
    background-image: url('../HoSaT/images/units/king3.png');
}

#cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    height: 200%;
    background-color: white;
    visibility: hidden;
}
#board {
    /* visibility: hidden; */
}
#units {
    /* visibility: hidden; */
}